    <!--<div id="titlebar">
      <a href= "/" ><img src=http://i.imgur.com/fpbjySk.png alt="TitlePlaceholder"></a>
    </div>-->
    <div id="navbar-space">
      <ul class="navbar">
        <!-- <li class="navbar" id="home">
          <a class="navbar" id="home-selected" href="index.php"><img src="images/home_selected.png"/></a>
          <a class="navbar" id="home-unselected" href="index.php"><img src="images/home.png"/></a>
        </li> -->
        <li class="navbar"><a class="navbar" <%= link_to("Home", root_path)%></a></li>
        <li class="navbar"><a class="navbar" href="/about">About</a></li>
        <li class="navbar"><a class="navbar" href="/place">Places</a></li>
        <li class="navbar"><a class="navbar" href="/contact">Contact</a></li>
        <li class="navbar"><a class="navbar" href="/signin">Login</a></li>
        <li class="navbar"><a class="navbar" href="/signup">Register</a></li>
      </ul>
    </div>