<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>

    <%= stylesheet_link_tag "index.css" %>

  </head>
  <body>
    <div id="titlebar">
      <img   src=http://i.imgur.com/fpbjySk.png alt="TitlePlaceholder">
    </div>
    <div id="nav">
       <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Prices</a></li>
          <li><a href="#">Adventure Planner</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="login.html">Login</a></li>
       </ul>
    </div>

    Random About Details goes here

 </body>
</html>