<!DOCTYPE html>
<html>
<body>

<form>
Place ID: <input type="text" name="placeid">
<br /><br />
Title:    <input type="text" name="name">
<br /><br />
Type:     <input type="text" name="type">
<br /><br />
Price:    <input type="text" name="price">
<br /><br />
Populartiy: <input type="text" name="popularity">
</form>

</body>
</html>
