<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <h1>Plan Your Adventure</h1>
    Adventure stuff
</html>