<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <h1>Prices</h1>
    Prices goes here, I guess.
</html>