<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
    <h1>Prices</h1>
    Prices goes here, I guess.

	<%= 10.times do |i| %>
    <p><%= Faker::Hacker.say_something_smart%></p>
    <% end %>
</html>