<!DOCTYPE html>
<html>
  <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
  </head>
  <body> 
    <div id="title"> Create a New Place </div> 
    <%= render 'Shared/navbar' %>
    
    <div id="wrapper">
      <div id="sidebar">
        <form action="/place">
          <input type="submit" id="submit" class="sidebar" value="Return to Places">
        </form>
      </div>
      <div id="mainContent">
         <form accept-charset="UTF-8" action="/place/new" class="new_place" id="new_place" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />

                <label for="place_name">Name</label>:
                <input id="place_name" name="place[name]" type="text"><br><br>

                <label for="place_category">Category</label>:
                <input id="place_category" name="place[category]" type="text"><br><br>

                <label for="place_price">Price</label>:
                <select id="place_price" name="place[price]">
                  <option value="Free">Free</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select><br><br>

                <label for="place_popularity">Popularity</label>:
                <select id="place_popularity" name="place[popularity]">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select><br><br>

                <input name="commit" type="submit" value="Create Place"><br>
              </form>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>